<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CodeLean | Ticket Directory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Ticket Directory</h3>
    <hr>

    <div>
        User: <span sec:authentication="name"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
        <br><br>
    </div>
    <form th:action="@{/tickets/getTicketById}" class="form-inline">
        <a th:href="@{/tickets/showFormForAdd}" class="btn btn-primary btn-sm mr-5 mb-3">
            Add Ticket
        </a>
        <input class="form-control ml-5 mr-ms-2 mb-3" type="search" name="employeeName" placeholder="Search">
        <button class="btn btn-success mb-3" type="submit">Search</button>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Ticket Id</th>
            <th>Time</th>
            <th>Ticket Price</th>
            <th>Ticket Type</th>
            <th>Ticket Detail</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempTicket : ${tickets}">
            <td th:text="${tempTicket.id}"/>
            <td th:text="${tempTicket.time}"/>
            <td th:text="${tempTicket.price}"/>
            <td th:text="${tempTicket.type}"/>
            <td th:text="${tempTicket.detail}"/>
            <td>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/tickets/showFormForUpdate(ticketId=${tempTicket.id})}" class="btn btn-info btn-sm">
                        Update
                    </a>
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/tickets/delete(ticketId=${tempTicket.id})}" class="btn btn-danger btn-sm" onclick="if (! (confirm('Are you sure you want to delete this Ticket ?'))) return false">
                        Delete
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2">
    </form>
</div>
</body>
</html>